*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin: 10px 0 50px 0;
}

h1 {
    font-size: 3.8rem;
}

p {
    font-size: 2rem;
}

em {
    font-size: 1rem;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tool-stats {
    margin: 0 0 50px;
}
