body {
    text-align: center;
}

#chooser {
    width: 450px;
    margin: 0 auto;
}

#chooser > table {
    margin: 0 auto;
}

#canvas-holder {
    margin: 30px 0 0 0;
    border-top: 1px solid #324d5c;
    padding: 30px 0 0 0;
}
